- RAND = Math.floor(Math.random()*100000);
doctype html
html(lang='es')
  head 
    title holasssss
    link(href='css/main.css?v='+RAND, rel='stylesheet', type='text/css')
  body
    .main 
      img(src="img/banner.jpg")
      .nb
        p Cartasss
        p Noticias
        p Log In
        p Registrase
      .tarjetas
        .carta
          .cabeza1
            p Sub Zero
          .cuerpo
            .imagen
              img(src="img/subzero.jpg")
            .texto 
              p Un asesino del clan Lin Kuei, Sub-Zero, sus comandos de combate se basan en utilizar los poderes de hielo y frío, los cuales son característicos del personaje.
        .carta
          .cabeza2
            p Scorpion
          .cuerpo
            .imagen
              img(src="img/scorpion.jpeg")
            .texto 
              p En vida, Hanzo Hasashi, alias Scorpion, fue un miembro destacado del clan ninja Shirai Ryu, rivales a muerte del Lin Kuei. Hanzo también tuvo una esposa e hijo
        .carta
          .cabeza3
            p Smoke
          .cuerpo
            .imagen
              img(src="img/smoke.webp")
            .texto
              p Smoke fue víctima del proceso de automatización del Clan. Fue transformado en un ninja cibernético contra su voluntad. Su nueva misión es encontrar y asesinar a Sub-Zero
        .carta
          .cabeza4
            p Ciborg
          .cuerpo
            .imagen
              img(src="img/ciborg.webp")
            .texto
              p Los Cyborgs son aquellos personajes que tienen algunas partes de su cuerpo, o su cuerpo es cambiado totalmente a partes cibernéticas para mejorar su rendimiento o habilidades.
        .carta
          .cabeza5
            p Shao Kahn
          .cuerpo
            .imagen
              img(src="img/shao.webp")
            .texto
              p Shao Kahn es el emperador del Mundo Exterior, conocido por su fuerza divina, su extrema brutalidad y su conocimiento de la magia negra.
        .carta
          .cabeza6
            p Raider
          .cuerpo
            .imagen
              img(src="img/raider.webp")
            .texto
              p Siendo un dios, Raiden posee muchas capacidades sobrenaturales, como la habilidad de teletransportarse, el control de los rayos y el poder volar. Siendo inmortal, Raiden nunca puede estar realmente muerto, y se reformará si su forma mortal es destruida

